<app-navbar></app-navbar>
<div class="row">
    <div class="d-flex align-items-start">
        <div class="col-4">
            <div class="item-title">
                <span class="item-title-text">DODAJ ZADANIE</span>
            </div>
        </div>
        <div class="col-8">
            <div class="item-title">
                <span class="item-title-text">AKTUALNE ZADANIA</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-flex align-items-end">
        <div class="col-4">
        </div>
        <div class="col-8">
            <div class="item-title">
                <span class="item-title-text">WYKONANE ZADANIA</span>
            </div>
        </div>
    </div>
</div>