.row {
  position: relative;
  top: 40px;
}

.item-title {
  height: 50px;
  width: 300px;
  line-height: 42px;
  background-color: #198754;
  border: 1px solid #198754;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
}

.item-title-text {
  font-size: 20px;
  color: white;
}

.add-item-form {
  margin: 40px;
  padding: 20px 20px 0px 20px;
  border: 3px solid rgba(35, 35, 39, 0.9);
  border-radius: 10px;
}

.task-priority {
  height: 60px;
  line-height: 52px;
}

.task-priority-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#priority-check {
  margin-right: 15px;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

input[type="text"] {
  border: 1px solid rgba(35, 35, 39, 0.9);
}

.add-button-div {
  margin-bottom: 20px;
  text-align: center;
}

.add-button {
  background-color: #198754;
  width: 100%;
}

.add-button:hover {
  padding: 5px 11px;
  border: 3px solid rgba(35, 35, 39, 0.9);
}

.tasks-div {
  width: 600px;
  margin: 40px 140px;
  border: 3px solid rgba(35, 35, 39, 0.9);
  border-radius: 10px;
  background-color: rgb(224, 131, 54);
}

.pending-task, .done-task {
  height: 44px;
  width: 600px;
  line-height: 36px;
  border-radius: 10px;
}

.pending-task-text, .done-task-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0px 180px 0px 20px;
  font-size: 20px;
  color: rgba(35, 35, 39, 0.9);
}

.task-icon-div {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.task-icon {
    font-size: 25px;
    margin: 0px 10px 0px 10px;
}