<nav>
    <div class="navbar">
        <ul class="nav">
            <li class="nav-item">
                <div id="nav-tasks" routerLink="/tasks-list">LISTA ZADAŃ</div>
            </li>
            <li class="nav-item">
                <div id="nav-shop" routerLink="/shopping-list">LISTA ZAKUPÓW</div>
            </li>
            <li class="nav-item">
                <div id="nav-books" routerLink="/books-list">LISTA KSIĄŻEK</div>
            </li>
        </ul>
        <ul class="nav justify-content-end ms-auto">
            <li class="nav-item">
                <div id="nav-main" routerLink="/main-page">MENU GŁÓWNE</div>
            </li>
        </ul>
    </div>
</nav>