#appname {
    color: #fff;
    background-color: rgba(35, 35, 39, 0.9);
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 0px;
    font: 45px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }