<div class="container">
    <div class="row justify-content-center">
        <div class="col align-self-start"></div>
        <div class="col align-self-center">
            <div id="tasks" routerLink="/tasks-list">
                <div id="tasks-button">LISTA ZADAŃ</div>
                <div id="tasks-icon" class="bi bi-list-task"></div>
            </div>
            <div id="shop" routerLink="/shopping-list">
                <div id="shop-button">LISTA ZAKUPÓW</div>
                <div id="shop-icon" class="bi bi-cart4"></div>
            </div>
            <div id="books" routerLink="/books-list">
                <div id="books-button">LISTA KSIĄŻEK</div>
                <div id="books-icon" class="bi bi-book"></div>
            </div>
        </div>
        <div class="col align-self-end"></div>
    </div>
</div>