<div class="container">
    <div class="row justify-content-center">
        <div class="col align-self-start"></div>
        <div class="col align-self-center">
            <div id="tasks" routerLink="/tasks-list">
                <span id="tasks-button">LISTA ZADAŃ</span>
            </div>
            <div id="shop" routerLink="/shopping-list">
                <span id="shop-button">LISTA ZAKUPÓW</span>
            </div>
            <div id="books" routerLink="/books-list">
                <span id="books-button">LISTA KSIĄŻEK</span>
            </div>
        </div>
        <div class="col align-self-end"></div>
    </div>
</div>