#top-row,
#bottom-row {
  position: relative;
  top: 40px;
}

.item-title {
  height: 50px;
  width: 300px;
  line-height: 42px;
  background-color: rgba(35, 35, 39, 0.9);
  border: 1px solid rgba(35, 35, 39, 0.9);
  border-radius: 10px;
  text-align: center;
  margin: 20px auto 40px;
}

.item-title-text {
  font-size: 20px;
  color: white;
}

.add-item-form {
  margin: 40px;
  padding: 20px;
  border: 3px solid rgba(35, 35, 39, 0.9);
  border-radius: 10px;
}

input[type="text"] {
  border: 1px solid rgba(35, 35, 39, 0.9);
  margin-bottom: 20px;
}

#small-input-div {
  padding-left: 0;
}

.small-input {
  max-width: 100px;
}

.reset-button {
  height: 38px;
  width: 38px;
  line-height: 30px;
  padding: 0;
}

.reset-icon {
  color: #be2222;
  font-size: 38px;
  margin-left: 0;
  margin-bottom: 20px;
}

.reset-icon:hover {
  color: #740202;
  cursor: pointer;
}

.add-button-div {
  text-align: center;
}

.add-button {
  background-color: #000063;
  width: 100%;
}

.add-button:hover {
  padding: 5px 11px;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid rgba(35, 35, 39, 0.9);
}

.tasks-div {
  width: 600px;
  margin: 20px 140px;
  border: 3px solid rgba(35, 35, 39, 0.9);
  border-radius: 10px;
  background-color: #000063;
}

.pending-task,
.done-task {
  height: 44px;
  width: 600px;
  line-height: 34px;
  border-radius: 10px;
}

pending-task-div,
.done-task-div {
  width: 40px;
  height: 40px;
  margin: 0;
}

.pending-task-text,
.done-task-text {
  max-width: 400px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0px 20px;
  font-size: 19px;
  color: white;
}

.pending-task-icon-div,
.done-task-icon-div {
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin: 0;
}

.pending-task-icon,
.done-task-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.task-icon-div {
  height: 40px;
  text-align: right;
}

.task-icon {
  font-size: 25px;
  margin: 7px;
  color: white;
}

.task-icon:hover {
  font-size: 30px;
  background-color: rgba(108, 108, 114, 0.9);
  padding-bottom: 3px;
  border: 2px solid rgba(108, 108, 114, 0.9);
  border-radius: 5px;
  cursor: pointer;
}

.marked-as-done {
  opacity: 0.5;
}
